[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "A custom kernel for the SM-A105 based on Android 9. Eureka-PP branch is now an all in one kernel source. The ONEUI, GSI Permissive and GSI Enforcing versions of Eureka are all automatically built with the build script. One branch to rule them all.. ^.^ "
[access "refs/*"]
	owner = group user/Chatur Baij (Main) (Chatur27)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Chatur Baij (Main) (Chatur27)
	label-Verified = -1..+1 group user/Chatur Baij (Main) (Chatur27)
	push = group user/Chatur Baij (Main) (Chatur27)
	read = group user/Chatur Baij (Main) (Chatur27)
	rebase = group user/Chatur Baij (Main) (Chatur27)
	removeReviewer = group user/Chatur Baij (Main) (Chatur27)
	submit = group user/Chatur Baij (Main) (Chatur27)
[access "refs/heads/*"]
	create = group user/Chatur Baij (Main) (Chatur27)
	push = +force group user/Chatur Baij (Main) (Chatur27)
	pushMerge = group user/Chatur Baij (Main) (Chatur27)
	read = group user/Chatur Baij (Main) (Chatur27)
[access "refs/tags/*"]
	push = group user/Chatur Baij (Main) (Chatur27)
	push = +force group user/Chatur Baij (Main) (Chatur27)
